# Pandas

In [1]:
%pwd

'D:\\Notebooks'

## Notes

- df[[column1, column2]] the first bracket is for creating a list and the second one is syntax for a pandas dataframe 

- for a datetime object in pandas we should follow .dt.astimezone()
- for a string formatting in pandas dataframe we should use .str.lower()
- for filtering the categorical data, we should use .isin()

---
pd.ExcelFile() function

workbook.sheet_names attribute

workbook.parse() method

----

Remember: 
    
-Remove dubplicate before you count by value_counts()

-sort the index by .sort_index() before you slice

## Common pandas methods and attributs

In [3]:
import pandas as pd

In [ ]:
.index

In [ ]:
.shape

In [ ]:
.columns

In [ ]:
.describe

In [ ]:
.head()

In [ ]:
.iloc, .loc

In [ ]:
.tail

In [ ]:
.info

In [ ]:
.count(), .mean(), .std(), .median(), .unique()

In [ ]:
# It is used for categorical data 
.value_counts()
# You can sort and normalize the counting numbers 
.value_counts(sort=True)

.value_counts(normalize=True)

In [ ]:
.values # convert the pandas data frame to numpy array

In [ ]:
df = pd.DataFrame(data, columns = ['Name', 'Age'])

In [ ]:
df.dtypes
# returns the type of each column in data frame

In [ ]:
df.astype(int)
# convert column type to int
sales_df['Customer Number'] = sales_df['Customer Number'].astype('int')

## Drop a column in Pandas Dataframe

In [ ]:
X = boston.drop ('MEDV', axis=1)

## Sorting .sort_values(), .sort_index()

In [ ]:
.sort_values()

totals = totals.sort_values('revenue', ascending=False)

In [ ]:
.reset_index(drop=True)

In [ ]:
#When inplace = True , the data is modified in place, which means it will 
#return nothing and the dataframe is now updated. When inplace = False , which is the default, 
#then the operation is performed and it returns a copy of the object. You then need to save
#it to something.
.sort_index(inplace=True, ascending=False)

In [ ]:
# For multi level index we must specifiy the keyword arguemnt 'level'

# Sort temperatures_ind by index values at the city level
print(temperatures_ind.sort_index(level='city'))

# Sort temperatures_ind by country then descending city
print(temperatures_ind.sort_index(level=['country','city'], ascending=[True, False]))

### Sorting by multiple variables

In [ ]:
dogs.sort_values(["weight_kg", "height_cm"], ascending=[True, False])

## Zooming or subsetting columns

In [ ]:
cols_to_subset = ["breed", "height_cm"] 

dogs[cols_to_subset]

#or
# The first bracket will create a list of column names and the second one will create the subset.
cols_to_subset = [["breed", "height_cm"]]

### Subsetting rows

In [ ]:
dogs[dogs["height_cm"] > 50]

In [ ]:
dogs[dogs["breed"] == "Labrador"]

In [ ]:
# Subsetting based on multiple conditions
is_lab = dogs["breed"] == "Labrador"
is_brown = dogs["color"] == "Brown"

dogs[is_lab & is_brown]
dogs[is_lab | is_brown]

#### Subsetting using .isin() for categorical variables

In [ ]:
is_black_or_brown = dogs["color"].isin(["Black", "Brown"])

## Filtering

In [ ]:
fruit[fruit['name'] == "Apple"]
fruit[fruit['price_usd'] > 1]
fruit[fruit['price_usd'] > 1].reset_index(drop=True)

## Summary statistics

In [ ]:
.mean()

In [ ]:
#axis argument the default value for axis is "index". 
dogs_height_by_breed_vs_color.mean(axis="index")

In [ ]:
# Calculating summary stats across columns
dogs_height_by_breed_vs_color.mean(axis="columns")

In [ ]:
.median()

In [ ]:
.mode()

In [ ]:
.min()

In [ ]:
.max()

In [ ]:
.var()

In [ ]:
.std()

In [ ]:
.sum()

In [ ]:
.quantile()

In [ ]:
# Cumulative statistics 
.cumsum()

In [ ]:
.cummin()

In [ ]:
.cummmax()

In [ ]:
.cumprod()

### .agg() method

DataFrame.agg(func=None, axis=0, *args, **kwargs)

Aggregate using one or more operations over the specified axis.

In [ ]:
def pct30(column):
return column.quantile(0.3)

dogs["weight_kg"].agg(pct30)

dogs[["weight_kg", "height_cm"]].agg(pct30)

dogs["weight_kg"].agg([pct30, pct40])

# For each store type, aggregate weekly_sales: get min, max, mean, and median
sales_stats = sales.groupby('type')['weekly_sales'].agg([np.min,np.max, np.mean, np.median])

### Dropping duplicate .drop_duplicates()

In [ ]:
vet_visits.drop_duplicates(subset="name")

unique_dogs = vet_visits.drop_duplicates(subset=["name", "breed"])

### groupby

In [ ]:
dogs[dogs["color"] == "Black"]["weight_kg"].mean()
dogs[dogs["color"] == "Brown"]["weight_kg"].mean()
dogs[dogs["color"] == "White"]["weight_kg"].mean()
dogs[dogs["color"] == "Gray"]["weight_kg"].mean()
dogs[dogs["color"] == "Tan"]["weight_kg"].mean()

# Instead of doing it like above we use groupby 
dogs.groupby("color")["weight_kg"].mean()

dogs.groupby("color")["weight_kg"].agg([min, max, sum])

# Grouping by multiple variables
dogs.groupby(["color", "breed"])["weight_kg"].mean()
# Many groups, many summaries 
dogs.groupby(["color", "breed"])[["weight_kg", "height_cm"]].mean()

## pivot_table

In [ ]:
# index is the column that we want to group by it. By default pivot table takes the mean value of the columns. 
# if we want to change the default function, we should you aggfunc keyword argument and numpy or custom functions.
dogs.pivot_table(values="weight_kg", index="color")

# this is equivalent to following code without making the table 
dogs.groupby("color")["weight_kg"].mean()

### statistics in Pivot_table

In [ ]:
import numpy as np
dogs.pivot_table(values="weight_kg", index="color", aggfunc=np.median)

In [ ]:
# Multiple statistics 
dogs.pivot_table(values="weight_kg", index="color", aggfunc=[np.mean, np.median])

### Pivot on two variables

In [ ]:
dogs.pivot_table(values="weight_kg", index="color", columns="breed")
# NaN stands for missing values we can use fill_value keyword argument to replace missing values.

# this is equlivalent to following code
dogs.groupby(["color", "breed"])["weight_kg"].mean()

### Filling missing values in pivot tables

In [ ]:
dogs.pivot_table(values="weight_kg", index="color", columns="breed", fill_value=0)

### Summing with pivot tables

In [ ]:
# margins keyword will add the mean values of rows not including the missing values filled with 0
dogs.pivot_table(values="weight_kg", index="color", columns="breed", fill_value=0, margins=True)

## Explicit indexes

## Setting a column as the index

In [ ]:
dogs_ind = dogs.set_index("name")

## Removing an index

In [ ]:
# This is to undo setting an index for pandas dataframe 
dogs_ind.reset_index()

### Dropping an index

In [ ]:
# This will remove the index that was set
dogs_ind.reset_index(drop=True)

### Multi-level indexes a.k.a. hierarchical indexes

In [ ]:
dogs_ind3 = dogs.set_index(["breed", "color"])

#### Subset the outer level with a list

In [ ]:
dogs_ind3.loc[["Labrador", "Chihuahua"]]

#### Subset inner levels with a list of tuples

In [ ]:
dogs_ind3.loc[[("Labrador", "Brown"), ("Chihuahua", "Tan")]]

### Sorting by index values

In [ ]:
# This will sort all the indexes from outter to inner by ascending order we can all control the order by ascending keyword argumenet 
dogs_ind3.sort_index()

#### Controlling sort_index

In [ ]:
dogs_ind3.sort_index(level=["color", "breed"], ascending=[True, False])

## Slicing and subsetting with .loc[ ] and .iloc[ ]

In [ ]:
# .loc[] and iloc[] are also a form of subsetting

In [ ]:
# Get 23rd row, 2nd column (index 22, 1)
print(temperatures.iloc[23,2])

# Use slicing to get the first 5 rows
print(temperatures.iloc[:5,:])

# Use slicing to get columns 3 to 4
print(temperatures.iloc[:, 2:4])

# Use slicing in both directions at once
print(temperatures.iloc[:5,2:4])

In [ ]:
# Make a list of cities to subset on
cities = ["Moscow", "Saint Petersburg"]

# Subset temperatures using square brackets
print(temperatures[temperatures['city'].isin(cities)])

# Subset temperatures_ind using .loc[]
print(temperatures_ind.loc[cities])

### Slicing the outter index levels

In [ ]:
dogs_srt.loc["Chow Chow":"Poodle"]

### Slicing the inner index levels

In [ ]:
# Remember: inner index levels must always be used in Tuple format
dogs_srt.loc[("Labrador", "Brown"):("Schnauzer", "Grey")]

### Slicing columns

In [ ]:
dogs_srt.loc[:, "name":"height_cm"]

### Slicing rows and columns at the sametime

In [ ]:
dogs_srt.loc[("Labrador", "Brown"):("Schnauzer", "Grey"),"name":"height_cm"]

### Slicing by dates

In [ ]:
# Get dogs with date_of_birth between 2014-08-25 and 2016-09-16
dogs.loc["2014-08-25":"2016-09-16"]

#### Slicing by partial dates

In [ ]:
# Get dogs with date_of_birth between 2014-01-01 and 2016-12-31
dogs.loc["2014":"2016"]

### Subsetting by row/column number

In [ ]:
# for .iloc() subsetting the last number is not included similar to list slicing. but for 
# .loc() method the names are included.
print(dogs.iloc[2:5, 1:4])

## Visualizing your data

In [ ]:
# Histograms
import matplotlib.pyplot as plt
dog_pack["height_cm"].hist()
plt.show()

dog_pack["height_cm"].hist(bins=20)
plt.show()

In [ ]:
# Bar plots
avg_weight_by_breed = dog_pack.groupby("breed")["weight_kg"].mean()
print(avg_weight_by_breed)

avg_weight_by_breed.plot(kind="bar", title="Mean Weight by Dog Breed")
plt.show()

In [ ]:
#Line plots
sully.plot(x="date", y="weight_kg", kind="line")
plt.show()

# Rotating axis labels
sully.plot(x="date", y="weight_kg", kind="line", rot=45)
plt.show()

In [ ]:
# Scatter plots
dog_pack.plot(x="height_cm", y="weight_kg", kind="scatter")
plt.show()

In [ ]:
# Layering plots
dog_pack[dog_pack["sex"]=="F"]["height_cm"].hist()
dog_pack[dog_pack["sex"]=="M"]["height_cm"].hist()
plt.legend(["F", "M"])
plt.show()

In [ ]:
# Transparency
dog_pack[dog_pack["sex"]=="F"]["height_cm"].hist(alpha=0.7)
dog_pack[dog_pack["sex"]=="M"]["height_cm"].hist(alpha=0.7)
plt.legend(["F", "M"])
plt.show()

# Missing values

## Detecting missing values

In [ ]:
# it generates a boolean value for missing values. 
dogs.isna()

## Detecting any missing values in columns

In [ ]:
dogs.isna().any()

## Counting missing values

In [ ]:
dogs.isna().sum()

# Plotting missing values
import matplotlib.pyplot as plt
dogs.isna().sum().plot(kind="bar")
plt.show()

## Removing missing values

In [ ]:
# One option is to remove the rows that contains the missing values
dogs.dropna()

## Replacing missing values

In [ ]:
# one approach is to replace the missing values with zero. There are other methods available for replacing 
# missing values. 
dogs.fillna(0)

# Creating DataFrames

## Creating a datafram by using Dictionaries

In [2]:
# From a list of dictionaries Constructed row by row
import pandas as pd
list_of_dicts = [{
    "name": "Ginger",
    "breed": "Dachshund",
    "height_cm": 22,
    "weight_kg": 10,
    "date_of_birth": "2019-03-14"
}, {
    "name": "Scout",
    "breed": "Dalmatian",
    "height_cm": 59,
    "weight_kg": 25,
    "date_of_birth": "2019-05-09"
}]
new_dogs = pd.DataFrame(list_of_dicts)
print(new_dogs)

     name      breed  height_cm  weight_kg date_of_birth
0  Ginger  Dachshund         22         10    2019-03-14
1   Scout  Dalmatian         59         25    2019-05-09

In [4]:
# From a dictionary of lists Constructed column by column
dict_of_lists = {
    "name": ["Ginger", "Scout"],
    "breed": ["Dachshund", "Dalmatian"],
    "height_cm": [22, 59],
    "weight_kg": [10, 25],
    "date_of_birth": ["2019-03-14", "2019-05-09"]
}
new_dogs = pd.DataFrame(dict_of_lists)
print(new_dogs)

     name      breed  height_cm  weight_kg date_of_birth
0  Ginger  Dachshund         22         10    2019-03-14
1   Scout  Dalmatian         59         25    2019-05-09

# Reading and writing CSVs

In [ ]:
import pandas as pd
new_dogs = pd.read_csv("new_dogs.csv")
print(new_dogs)

# Converting Pandas DataFrame to CSV

In [ ]:
new_dogs.to_csv("new_dogs_with_bmi.csv")

# Display image in markdown

In [ ]:
If you want to display the image in a Markdown cell then use:
<img src="files/image.png" width="800" height="400">
If you want to display the image in a Code cell then use:
from IPython.display import Image
Image(filename='output1.png',width=800, height=400)

# Pandas Examples

In [ ]:
# A simple pivot table in Python - .groupby().sum()

fruit_sales.groupby('store', as_index=False).sum()

fruit_sales.groupby(['store', 'product_name'], as_index=False).sum()

groups = ['store', 'product_name']
fruit_sales_less = fruit_sales.groupby(groups, as_index=False).sum()

In [ ]:
# Pivot table example 

# Raw data
fruit_sales
# Summary - by fruit by store
totals = fruit_sales.groupby(['store', 'product_name'], as_index=False).sum()
# Sort the Summary
totals = (totals.sort_values('revenue', ascending=False)
.reset_index(drop=True))
# First row for each store
top_store_sellers = totals.groupby('store').head(1).reset_index(drop=True)

In [ ]:
# Working with multiple sheets


# Import package
import pandas as pd
# Read workbook
fruit_workbook = pd.ExcelFile('fruit_tabs.xlsx')

# Get sheet names
fruit_sheet_names = fruit_workbook.sheet_names


xls = pd.ExcelFile('path_to_file.xls')
df1 = pd.read_excel(xls, 'Sheet1')
df2 = pd.read_excel(xls, 'Sheet2')

In [ ]:
.parse() method
# Read workbook
fruit_workbook = pd.ExcelFile('fruit_tabs.xlsx')
# Parse price tab
fruit_prices = fruit_workbook.parse('price')

# Print fruit prices
print(fruit_prices)

pd.ExcelFile() function
workbook.sheet_names attribute 
workbook.parse() method

In [ ]:
import pandas as pd
data = {'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
'visitors': [139, 237, 326, 456],
'signups': [7, 12, 3, 5]}
users = pd.DataFrame(data)
print(users)

In [ ]:
import pandas as pd
cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
signups = [7, 12, 3, 5]
visitors = [139, 237, 326, 456]
weekdays = ['Sun', 'Sun', 'Mon', 'Mon']
list_labels = ['city', 'signups', 'visitors', 'weekday']
list_cols = [cities, signups, visitors, weekdays]
zipped = list(zip(list_labels, list_cols))

data = dict(zipped)
users = pd.DataFrame(data)
print(users)

In [ ]:
# Using na_values keyword
sunspots = pd.read_csv(filepath, header=None, names=col_names, na_values={'sunspots':[' -1']})

In [ ]:
# Using parse_dates keyword
sunspots = pd.read_csv(filepath, header=None, names=col_names, na_values={'sunspots':[' -1']}, parse_dates=[[0, 1, 2]])

In [ ]:
# Using dates as index
sunspots.index = sunspots['year_month_day']
sunspots.index.name = 'date'

In [ ]:
# Writing files
out_csv = 'sunspots.csv'
sunspots.to_csv(out_csv)
out_tsv = 'sunspots.tsv'
sunspots.to_csv(out_tsv, sep='\t')
out_xlsx = 'sunspots.xlsx'
sunspots.to_excel(out_xlsx)

In [ ]:
# Parsedate=True 
import pandas as pd
import matplotlib.pyplot as plt
aapl = pd.read_csv('aapl.csv', index_col='date',
parse_dates=True)
aapl.head(6)

In [ ]:
close_arr = aapl['close'].values
type(close_arr)

numpy.ndarray

plt.plot(close_arr)
[<matplotlib.lines.Line2D at 0x115550358>]
plt.show()
# plot array, series, data frame

In [ ]:
#Convert strings to datetime
evening_2_11 = pd.to_datetime(['2015-2-11 20:00', '2015-2-11 21:00', '2015-2-11 22:00', '2015-2-11 23:00'])

evening_2_11= DatetimeIndex(['2015-02-11 20:00:00', '2015-02-11 21:00:00','2015-02-11 22:00:00', '2015-02-11 23:00:00'],
dtype='datetime64[ns]', freq=None)

In [ ]:
# Reindexing DataFrame
sales.reindex(evening_2_11)

Company Product Units
2015-02-11 20:00:00 Initech Software 7.0
2015-02-11 21:00:00 NaN NaN NaN
2015-02-11 22:00:00 NaN NaN NaN
2015-02-11 23:00:00 Hooli Software 4.0

In [ ]:
# Filling missing values
sales.reindex(evening_2_11, method='ffill')
Company Product Units
2015-02-11 20:00:00 Initech Software 7
2015-02-11 21:00:00 Initech Software 7
2015-02-11 22:00:00 Initech Software 7
2015-02-11 23:00:00 Hooli Software 4
sales.reindex(evening_2_11, method='bfill')
Company Product Units
2015-02-11 20:00:00 Initech Software 7
2015-02-11 21:00:00 Hooli Software 4
2015-02-11 22:00:00 Hooli Software 4
2015-02-11 23:00:00 Hooli Software 4

In [ ]:
# Resampling
Statistical methods over different time intervals 
 mean(), sum(), count()
    
#Downsampling 
 reduce datetime rows to slower frequency
    
#Upsampling 
 increase datatime rows to faster frequency

| Input | Description | 
| :- | -: | 
| 'min' | 'T' minute |
| 'H' | hour |
| 'D' | day |
| 'B' | business day |
| 'W' | week |
| 'M' | month |
| 'Q' | quarter |
| 'A' | year |

In [ ]:
# Aggregating means
daily_mean = sales.resample('D').mean()
daily_mean

In [ ]:
# Multiplying frequencies
sales.loc[:,'Units'].resample('2W').sum()

Date
2015-02-08 82
2015-02-22 79
2015-03-08 14
Freq: 2W-SUN, Name: Units, dtype: int64

In [ ]:
# Upsampling
two_days = sales.loc['2015-2-4': '2015-2-5', 'Units']

two_days
Date
2015-02-04 15:30:00 13
2015-02-04 22:00:00 14
2015-02-05 02:00:00 19
2015-02-05 22:00:00 10
Name: Units, dtype: int64

In [ ]:
# Upsampling and filling
two_days.resample('4H').ffill()

Date
Date
2015-02-04 12:00:00 NaN
2015-02-04 16:00:00 13.0
2015-02-04 20:00:00 13.0
2015-02-05 00:00:00 14.0
2015-02-05 04:00:00 19.0
2015-02-05 08:00:00 19.0
2015-02-05 12:00:00 19.0
2015-02-05 16:00:00 19.0
2015-02-05 20:00:00 19.0
Freq: 4H, Name: Units, dtype: float64

In [ ]:
#String methods
sales['Company'].str.upper()

In [ ]:
# Substring matching
sales['Product'].str.contains('ware')
0 True
1 True
2 True
3 True
4 True
5 True
6 False

In [ ]:
# Boolean arithmetic
True + False
1
True + True
2
False + False
0

Boolean reduction
sales['Product'].str.contains('ware').sum()
14

In [ ]:
# Datetime methods
sales['Date'].dt.hour

In [ ]:
# Set timezone
central = sales['Date'].dt.tz_localize('US/Central')
central

In [ ]:
# Convert timezone
central.dt.tz_convert('US/Eastern')

In [ ]:
population = pd.read_csv('world_population.csv', parse_dates=True, index_col= 'Date')

population

Population
Date
1960-12-31 2.087485e+10
1970-12-31 2.536513e+10
1980-12-31 3.057186e+10
1990-12-31 3.644928e+10
2000-12-31 4.228550e+10
2010-12-31 4.802217e+10

# Upsample population
population.resample('A').first()

Date
1960-12-31 2.087485e+10
1961-12-31 NaN
1962-12-31 NaN
1963-12-31 NaN
1964-12-31 NaN
1965-12-31 NaN
1966-12-31 NaN
1967-12-31 NaN
1968-12-31 NaN
1969-12-31 NaN
1970-12-31 2.536513e+10
1971-12-31 NaN
1972-12-31 NaN

# Interpolate missing data
population.resample('A').first().interpolate('linear')
Date
1960-12-31 2.087485e+10
1961-12-31 2.132388e+10
1962-12-31 2.177290e+10
1963-12-31 2.222193e+10
1964-12-31 2.267096e+10
1965-12-31 2.311999e+10
1966-12-31 2.356902e+10
1967-12-31 2.401805e+10
1968-12-31 2.446707e+10
1969-12-31 2.491610e+10
1970-12-31 2.536513e+10
1971-12-31 2.588580e+10
1972-12-31 2.640648e+10

In [ ]:
# pandas.DataFrame.first
DataFrame.first(offset)[source]
Select initial periods of time series data based on a date offset.

When having a DataFrame with dates as index, this function can select the first few rows based on a date offset.

Parameters
offsetstr, DateOffset or dateutil.relativedelta
The offset length of the data that will be selected. For instance, ‘1M’ will display all the rows having their index within the first month.

Returns
Series or DataFrame
A subset of the caller.

Raises
TypeError
If the index is not a DatetimeIndex

In [ ]:
i = pd.date_range('2018-04-09', periods=4, freq='2D')
ts = pd.DataFrame({'A': [1, 2, 3, 4]}, index=i)
ts
            A
2018-04-09  1
2018-04-11  2
2018-04-13  3
2018-04-15  4

ts.first('3D')
            A
2018-04-09  1
2018-04-11  2

In [ ]:
.merge()
fruit_colors.merge(fruit_prices, on='name', how='left')

In [ ]:
Concatenation basics

In [ ]:
pd.concat() along rows or columns

In [ ]:
Concatenating rows

In [ ]:
pd.concat([df1, df2, ...],
ignore_index=True)

In [ ]:
# Concatenating columns
pd.concat([df1, df2, ...],
axis=1)

In [ ]:
joined_df = left_df.merge(right_df)

In [ ]:
Three types of joins
Types
One-to-one
One-to-many
Many-to-many
Join type indicates relationship of tables

#Full syntax:
DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None,
left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True,
indicator=False, validate=None)

In [ ]:
#Validating merges
DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None,
left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True,
indicator=False, validate=None)
Values for validate :
“one_to_one” or “1:1”
“one_to_many” or “1:m”
“many_to_one” or “m:1”
“many_to_many” or “m:m” (does nothing)

In [ ]:
#One-to-One Join 
pandas.merge()

Left merges
pd.merge(df_left, df_right, on='GameKey', how='left')

Right merges
pd.merge(df_left, df_right, on='GameKey', how='right')

inner merges
df1.merge(df2, left_on='GameKey', right_on='game-key',
how='inner')

In [ ]:
Unique key columns

Unique values for single column key
df.duplicated('GameKey').sum()

df.duplicated(['GameKey', 'PlayId').sum()

In [ ]:
Joining with .merge_ordered()

pd.merge_ordered(cleveland, dallas, on='Game_Date',
suffixes=['_CLE', '_DAL'])

In [ ]:
#Interpolating data
pd.merge_ordered(tc2, td2, on='Game_Date', suffixes=['_CLE', '_DAL'], fill_method='ffill')

In [ ]:
# Merging to nearest date-times

pd.merge_asof(left_df, right_df, direction='backward')

In [ ]:
Chapter 1 - Introduction to joining data
Common situations
Concatenate data by row or column
pd.concat([df1, df2], axis=0)


Chapter 2 - VLOOKUP-style joins
One-to-one, VLOOKUP-style joins
pd.merge(left_df, right_df,
how='inner',
on='key_column')

Chapter 3- One-to-many joins
Joins (merges) on key column
df1.merge(df2, how='inner',
on='key_column')
Joins on unique index
df1.join(df2, how='left')

Chapter 4 - Advanced joins
Advanced parameters
left_index, right_index 
suffixes 
indicator 
sort 
pd.merge_ordered (left_df, right_df, how='outer')
pd.merge_asof(left_df, right_df, direction='backward')

# Efficient Pandas Code

## Pandas dataframe iteration

Iterating with .iterrows() is much faster than .iloc() because it is similar to enumerate() for lists 

Iterating with .itertuples() is even faster than .iterrows()

In [ ]:
# row is a pandas data series that you can use column index to call out the cells
for i,row in baseball_df.iterrows():
    wins = row['W']
    games_played = row['G']
    win_perc = calc_win_perc(wins, games_played)
    win_perc_list.append(win_perc)
    
baseball_df['WP'] = win_perc_list

In [ ]:
for row_namedtuple in team_wins_df.itertuples():
    print(row_namedtuple)
    
# output
'''
Pandas(Index=0, Team='ARI', Year=2012, W=81)
Pandas(Index=1, Team='ATL', Year=2012, W=94)
# The out put of .itertuples() is a espceial type of tuple called named tuple. it is just like tuple but
the fields are accessible by attribute look up using . method. for example:

print (row_namedtuple.Index)
print (row_namedtuple.Team)
print (row_namedtuple.Year)

%%timeit
for row_tuple in team_wins_df.iterrows():
print(row_tuple)

527 ms ± 41.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
vs.

%%timeit
for row_namedtuple in team_wins_df.itertuples():
print(row_namedtuple)

7.48 ms ± 243 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

'''

## pandas .apply() method

Takes a function and applies it to a DataFrame. Must specify an axis to apply ( 0 for columns; 1 for rows)

Can be used with anonymous functions ( lambda functions)

Example:

`def calc_run_diff(runs_scored, runs_allowed):
    run_diff = runs_scored - runs_allowed
    return run_diff`
#### The lambda function act a map function, it takes a function and apply it to a data frame. 

Remember we have to specifiy the axis for the function to be applied. The argument for lambda is row.

`baseball_df.apply(lambda row: calc_run_diff(row['RS'], row['RA']),axis=1)`

## Power of vectorization 

### Broadcasting (vectorizing) is extremely efficient!

The output is in a form of numpy array since the pandas was built on numpy arrays. The broadcasting approach is must faster than all other approaches. 

`wins_np = baseball_df['W'].values
 print(type(wins_np))`
 
 Example:
 
`run_diffs_np = baseball_df['RS'].values - baseball_df['RA'].values
 baseball_df['RD'] = run_diffs_np
 print(baseball_df)`
 
 Example of all the three methods:
 
 `win_perc_preds_loop = []

#Use a loop and .itertuples() to collect each row's predicted win percentage
for row in baseball_df.itertuples():
    runs_scored = row.RS
    runs_allowed = row.RA
    win_perc_pred = predict_win_perc(runs_scored, runs_allowed)
    win_perc_preds_loop.append(win_perc_pred)

#Apply predict_win_perc to each row of the DataFrame
win_perc_preds_apply = baseball_df.apply(lambda row: predict_win_perc(row['RS'], row['RA']), axis=1)

#Calculate the win percentage predictions using NumPy arrays
win_perc_preds_np = predict_win_perc(baseball_df['RS'].values, baseball_df['RA'].values)
baseball_df['WP_preds'] = win_perc_preds_np
print(baseball_df.head())`